<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.chyss.myapplication">

    <!-- 网络访问权限 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 收起通知栏权限 -->
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR"/>
    <!-- wifi访问权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- sd卡读写 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <!-- 蓝牙 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!-- <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED"/> -->


    <!-- camera -->
    <uses-permission android:name="android.permission.CAMERA"/>

    <!-- 声明你的应用程序只能在支持BLE的设备上运行 蓝牙4.0 -->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true"/>

    <!-- Android 5.0之后 -->
    <!-- <uses-feature android:name="android.bluetooth.le" android:required="true"/> -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!--设置权限，其他的应用访问服务的需要配置的权限-->
    <permission android:name="com.chyss.myapplication.permission.ACCESS_LOCALSERVICE"/>

    <!--ArcGis 地图开发-->
    <!--<uses-permission android:name="android.permission.INTERNET" />-->
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->
    <!--<uses-feature android:glEsVersion="0x00020000" android:required="true" />-->

    <!-- opengl es 使用OpenGLES 2.0 API -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 防止启动出现空白页面 -->
        <!-- android:theme="@android:style/Theme.Translucent" -->
        <activity
            android:name=".WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".widget.webview.WebView"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.NoticeActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".widget.wifi.WifiListActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.SearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible">
        </activity>
        <activity
            android:name=".widget.retrofit.RetrofitActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".widget.rxjava.RxActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".widget.traces.TracesActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".widget.recycler.Activity1"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".widget.recycler.Activity2"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".widget.flingswipe.SwipeActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".widget.largPicture.bigshow.LargeImageViewActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".widget.largPicture.compress.BigImageCompressActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".widget.largPicture.compress.LocalImageCompressActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".widget.permission.GetPermissionActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".widget.listview.ScrollListViewActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".widget.opengl.OpenglActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".widget.opengl.OpenglSelectActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".widget.bluetooth.BlueToothActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".widget.bluetooth.phone.BlueServiceActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".widget.bluetooth.phone.BlueConnActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".widget.bluetooth.phone.BlueMainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".widget.bluetooth.BlueSeletorActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".widget.bluetooth.ble.BleDiscoverActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".widget.bluetooth.ble.BleMainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".widget.bluetooth.ble.BleServiceActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".widget.messagePack.MessagePackActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".widget.scrollshow.ScrollShowActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".widget.linearsv.LinearSVActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".widget.aidl.aidl.ClientAidlActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".widget.aidl.messenger.MessengerActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".widget.gis.GisActivity"
            android:screenOrientation="portrait">
        </activity>

        <service android:name=".widget.bluetooth.ble.BleService"/>

        <receiver android:name=".widget.notice.NotificationReceiver">
            <intent-filter>
                <action android:name="com.chyss.myapplication.notice"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".widget.aidl.aidl.MyService"
            android:process=":myservice">
        </service>
        <service
            android:name=".widget.aidl.messenger.MessengerService"
            android:process=":messengerservice">
        </service>
        <service
            android:name=".widget.aidl.process.LocalService"
            android:process=":local">
        </service>
        <service
            android:name=".widget.aidl.process.RemoteService"
            android:process=":remote">
        </service>

        <activity
            android:name=".widget.screenshot.ScreenShotActivity"
            android:screenOrientation="portrait">
        </activity><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data android:name="com.google.android.gms.version"
                   android:value="@integer/google_play_services_version"/>
    </application>

</manifest>